@charset "utf-8";
/* 제주맥주 메인 CSS - main.css */

/* 외부파일 합치기 */
@import url(reset.css);
@import url(core.css);

/* 박스표시 */
body *{
    outline: 1px dashed gray;
}

/* 속박스 class */
.ibx{
    width: 100vw;
    height: 100vh;
    /* 보이는 화면에 채우기로 박스크기 정함! */
}

.ibx h2{
    text-align: center;
    font-size: 40px;
    color: lightseagreen;
    outline: none;
}

/* 1. 상단영역 */
#top{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(240, 128, 128, 0.561);
}
.top{
    height: 90px;
}
/* 2. 하단영역 */
/* .info{
    height: 323px;
} */
/* 3. 메인영역 */
.cont1{
    margin-top: 80px;
    height: 1316px;
}
.cont2{
    height: 1964px;
}
.cont3{
    height: 1964px;
}
.cont4{
    height: 1964px;
}
.cont5{
    height: 767px;
}
.cont6{
    height: 173px;
}