@charset "utf-8";
/* CGV PJ 메인 페이지 미디어쿼리 - media.css */

/******* 미디어쿼리 : 1300px 이하 시작 *******/
@media screen and (max-width:1300px) {

    /* GNB 메뉴 위치이동 - 영사기 보이게 */
    .gnb {
        right: 63px;
    }
}

/******* 미디어쿼리 : 1300px 이하 끝 *******/


/******* 미디어쿼리 : 1050px 이하 시작 *******/
@media screen and (max-width:1050px) {

    /* GNB ul */
    .glist {
        position: absolute;
        left: -68px;
        width: 120px;
        text-align: right;

        flex-direction: column;
        /* 플렉스 방향: 세로  */
        display: none;
    }

    /* GNB에 마우스 오버시 .glist보이기 */
    .gnb:hover .glist {
        display: flex;
    }

    /* 상위메뉴 li에 오버시에 .smenu숨기기 */
    .glist>li:hover .smenu {
        display: none;
    }

    /* GNB li 리스트 */
    .glist>li {
        /* 상위메뉴 li */
        padding-bottom: 10px;
    }



}

/******* 미디어쿼리 : 1050px 이하 끝 *******/

/******* 미디어쿼리 : 780px 이하 시작 *******/
@media screen and (max-width:780px) {

    /* 회사정보 */
    #info address {
        padding: 10px;
        text-align: center;
    }

    /* 하단로고 이미지 */
    #info img {
        display: block;
        float: none;
        margin: 10px auto;
    }

    /* 3-2. sns박스 */
    ul.sns {
        position: static;
        justify-content: center;
        margin: 10px 0;
    }

}

/******* 미디어쿼리 : 780px 이하 끝 *******/


/**************** 모바일파트 ****************/

/******* 미디어쿼리 : 600px 이하 시작 *******/
@media screen and (max-width:600px) {

    /* 타이틀 글자크기 */
    h1.tit {
        font-size: 9vw;
    }

    /* 하단 회사주소만 숨기기 */
    #info address span {
        display: none;
    }

    /* 하단영역 높이값없앰 */
    /* 하단영역높이는 결과적으로 124px */
    #info {
        height: auto;
        padding: 10px;
    }

    /* sns 마진없앰*/
    ul.sns {
        margin: 0;
    }

    /* 로고 이미지 : 위아래 마진없앰*/
    #info img {
        margin: 0 auto;
    }

    /* 메인영역 높이값 비율변경하기 */
    #cont.rbx::before {
        padding-top: 150%;
    }

    /* 메인영역 배경 크기비율, 위치변경 */
    #cont {
        background-size: 140%;
        background-position: center top;
    }

    /* 스크린 박스 - 위치,크기조정 */
    #screen {
        top: 10.5%;
        left: 9.9%;
        width: 81.8%;
        height: 31.1%;
    }

    /* 예고편 선택메뉴 변경하기 */
    .mlist {
        bottom: auto;
        top: 50%;
        /* 위치기준을 bottom에서 top으로 변경! */
        width: 86%;
    }

    .mlist ul {
        flex-wrap: wrap;
        /* 플렉스 박스 줄바꿈허용 */
    }

    .mlist ul>li {
        flex: none;
        width: 31.33%;
        /* flex: 1로 등분할 설정을 없애고
        하나당 크기를 3등분 크기로 설정함.
        33.33%인데 양쪽 마진이 2%가 설정되었으므로
        이를 제외한 31.33%로 설정함
        -> 한줄에 3개씩 2줄 설정! */
    }

    /* 영화정보박스 */
    .movtxt {
        font-size: 4vw;
        white-space: nowrap;
        /* 줄바꿈 방지! */
    }

    /* 첫번째 li는 영화제목 */
    .movtxt li:first-child {
        font-size: 5vw;
    }

    /* 영사기 박스 */
    #cam {
        bottom: 18px;
        right: -61px;
    }

}

/******* 미디어쿼리 : 600px 이하 끝 *******/