@charset "utf-8";
/* 도깨비 PJ 메인 CSS - main.css */

/* 기본 리셋 */
html,body{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4{
    margin: 0;
    padding: 0;
    font-size: 100%;
    /* 글자크기가 100%는 기본글자크기에 맞춤(16px) */
}

/* 공통 class */

/* 스크롤바 디자인 class */
/* -webkit- 벤더사명(크롬,사파리) 접두어 */
.scbar::-webkit-scrollbar{
    /* 전체 스크롤바 크기변경 */
    width: 7px;
}
.scbar::-webkit-scrollbar-thumb{
    /* 스크롤바 */
    background-color: #666;
    border-radius: 5px;
}
.scbar::-webkit-scrollbar-track{
    /* 스크롤바 트랙 */
    background-color: #ddd;
    border-radius: 5px;
}


/* 공사중 박스표시 */
/* 별표시(*)는 모든 요소를 선택함! */
body *{
    outline: 1px dashed orange;
    /*  외곽선(아웃라인) 속성
        - 주변에 영향없이 테두리를 표시함
        - 임시표시하거나 포커스표시 등으로 사용
        - 박스모델에는 포함되지 않음!
        - 표기법은 border와 동일함
        - 두께는 박스요소 바깥쪽으로 표시됨
    outline: 두께 종류 색상; */
}

/* 
    기본적으로 block요소는
    width: auto 로 설정되어서
    부모요소를 끝까지 채운다!
    height값을 설정하지 않으면
    내용만큼 늘어남
*/

/* 전체배경넣기 */
body{

    /* 배경: 색이반고윙/크 */
    background: 
    url(../images/bg_logo_a_01.png) no-repeat fixed 10% 30%/10%,    
    url(../images/bg_mainvisual.jpg) no-repeat fixed center/cover;
    /* 첫번째 배경이미지가 위! 10% 30% 위치값 슬래쉬(/)뒤가 가로크기 10%  */

    /* 1. 배경색 */
    /* background-color: rgb(152, 152, 255); */

    /* 2. 배경이미지 */
    /* background-image: url(../images/bg_mainvisual.jpg); */

    /* 3. 배경반복옵션 */
    /* background-repeat: no-repeat; */
    /* no-repeat반복없음
    repeat-x x축반복
    repeat-y y축반복
    repeat 반복(기본값)*/
    
    /* 4. 배경고정(보이는 화면에 붙인다!) */
    /* background-attachment: fixed; */

    /* 5. 배경위치: x축 y축 (기준은 왼쪽선,윗선)*/
    /* background-position: center; */
    /* background-position: 100px 200px; */
    /* 배경위치옵션은 수치값(px,%등),
    기준옵션값:
        x축: left, center, right
        y축: top center, bottom */
    
    /* 6. 배경크기 : 가로크기, 세로크기 / 특정값*/
    /* background-size: cover; */
    /* cover를 쓰면 빈틈없이 비율에 맞게 배경을 요소에 채운다! */
    /* background-size: 400px auto; */
}

/*********** 1. 상단영역 ***************/
.top{
    height: 124px;
}
/*********** 2. 메인영역 ***************/
.cont{
    height: 800px;
    overflow: hidden;
    /* 자식요소 마진탑 포함셋팅! */
}
/* 캐릭터 부모박스 */
#cbx{
    width: 90%;
    margin: 0 auto;
    /* 마영오! - 블록가로중앙 */
    margin-top: 400px;
    /* 
        첫번째 자식요소 블록박스에 마진탑을 줄경우
        부모박스 바깥으로 마진값이 나가게 된다!(기본특성)
        -> 마진탑을 부모박스 내부로 포함시키는 방법은?
        부모박스에
        ->>>>> overflow:hidden
        
        -> 만약 위의 숨김속성을 쓸 수 없을 경우엔
        부모박스의 패딩탑으로 밀고 보더박스 처리해서
        크기가 커지지 않게 한다!
        ____________________________

        부모요소{
            padding-top: 몇px;
            box-sizing: border-box;
        }
    */
}

/* 가상요소로 clear:both 셋팅하기 */
#cbx::after{
    content: '';
    /* 빈content속성은 마치 span태그를 쓴것 같다~! */
    display: block;
    /* 블록 설정하는 순간 마치 div태그를 쓴것 같다~! */
    clear: both;
    /* 블록요소만 clear설정이 먹히므로 블록으로 만든다! */
}

/* 캐릭터박스 공통 */
.cat{
    /* 4등분 가로 크기%는? 25% */
    width: 24%;
    margin: 0 .5%;
    /* 양쪽마진은 합해서 1% 가로폭 25%에 맞춤! */
    /* 
        margin: 0 0.5%; 
        마진: 위아래 0, 양쪽 0.5% 
        0.몇 수치일때 앞의 0은 자주 생략된다!
    */
    
    float: left;
    /* 블록요소를 옆으로 흘러가게 하는 속성은?
    float속성
        -> left 값은 나는 왼쪽에 너는 오른쪽으로 올라와!
        -> right 값은 나는 오른쪽에 너는 왼쪽으로 올라와!

    [ 자식요소가 float된 경우 부모요소는 높이값이 0? ]
    -> 블록 자식요소 float으로 인해 부모요소가 높이값이 0인 경우
    다음과 같이 해결할 수 있다!
    1. 부모요소에 overflow:hidden 설정
    2. float자식요소 중 마지막 요소에 float해제인 clear설정하기!
        clear: left, clear:right, clear:both
        float 값이 left 면 left, right면 right로 끊어줌!
        both는 어떤 값이든 끊어줌! 그래서 이것을 많이씀!
        클리어보스 clear:both
        -> 실제 요소를 쓰면 지워지거나 관리에 문제가 될 
        소지가 큼! 따라서 가상요소로 셋팅함!
        맨뒤 추가 가상요소는 ::after
    */
}

/* 캐릭터 이미지 박스 */
.ci{
    transition: margin-top .4s ease-out;
}
/* .cat에 마우스 오버시 */
.cat:hover .ci{
    margin-top: -60%;
}

/* 캐릭터 이미지 */
.ci>img{
    width: 100%;
    /* 이미지는 가로나 세로중 하나만 설정하면
    나머지는 자동으로 비율유지로 변경된다! */
}
/* 캐릭터 이름박스 */
.ci span {
    display: block;
    /* 블록으로 변경해서 부모박스 끝까지 차지함! */
    text-align: center;
    /* 인라인요소 중앙정렬 */
    margin-top: -21%;
    /* 비율로 이미지가 변경되므로
    마진도 상대적으로 변경해야 위치가 일정하다! */
}
/* 캐릭터 이름 이미지 */
.ci span img{
    width: 40%;
}
/* 캐릭터 이름 첫번째 이미지 숨기기 */
.ci span img:first-child{
    display: none;
}
/* .cat박스에 마우스 오버시 */
/* 캐릭터 이름 첫번째 이미지 보이기 */
.cat:hover .ci span img:first-child{
    display: inline;/* 원래값 복원 */
}
/* 캐릭터 이름 마지막 이미지 숨기기 */
.cat:hover .ci span img:last-child{
    display: none;
}

/* 캐릭터 설명 박스 */
.cd{
    height: 0;
    /* .cat 오버시 250px로 높이값 변경! */
    overflow-y: scroll;
    /* y축 스크롤만 생겨서 넘치는 자식요소 보이기 */
    background: url(../images/eachBG.jpg) no-repeat center/cover;
    margin-top: 15px;
    border-radius: 20px 0 0 20px;
    /* 
        둥근모서리 방향별주기: 왼쪽위부터 시계방향
        왼위 오른위 오른아래 왼아래
        (하나의 값을 쓰면 4방향)

        ((w3schools 참고))
        https://www.w3schools.com/cssref/css3_pr_border-radius.asp

    */

    /* 트랜지션 : 속성 시간 이징 지연시간 */
    transition: height .4s ease-out;
}
/* 오버시 높이값 변경! */
.cat:hover .cd{
    height: 250px;
}

/* 캐릭터 설명 타이틀 */
.cd h3{
    font-size: 24px;
    font-weight: normal;
    padding: 5px 10px 0;
    /* 패딩: 위 5px, 양쪽 10px, 아래0 */
}

/* 캐릭터 설명 문단 */
.cd p{
    font-size: 20px;
    line-height: 1.7;
    padding: 10px;
    text-align: justify;
    /* 양쪽정렬 */
}


/*********** 3. 하단영역 ***************/
.info{
    height: 240px;
}
