@charset "utf-8";

/* 도깨비 PJ 미디어쿼리 CSS - media.css */


/************** 800px이하일때 **************/
@media screen and (max-width:800px) {

    /* 1-1. 디스플레이 없앰 
    - GNB메뉴,하단링크박스,오프닝텍스트,
    서브메뉴,서브배경가상요소 */
    .gnb,
    .blink,
    .optxt,
    .smenu,
    .gnb>ul>li::after {
        display: none;
    }

    /* 1-2. 디스플레이 보임 - .ham */
    button.ham {
        display: block;
    }

    /* 1-3. GNB 변경하기 - .gnb에 클래스 on을 추가하면 변경됨 */
    .gnb.on {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 99;
        background-color: lightblue;
    }

    /* GNB li변경 */
    .gnb>ul>li {
        float: none;
        text-align: center;
        padding: 0;
    }

    /* 메뉴 a링크 */
    .gnb>ul>li>a {
        line-height: 12.5vh;
        height: 12.5vh;
        padding-top: 12.5vh;
    }

    /* 2. 상단영역 */
    .top {
        height: auto;
        /* 기존크기를 자동으로 변환(내용만큼 늘어남) */
    }

    /* 3. 메인영역박스 */
    .cont {
        height: auto;
        padding-bottom: 50px;
    }

    /* 4.캐릭터 부모박스 */
    #cbx {
        margin-top: 50px;
    }

    /* 5. 캐릭터박스 공통 */
    .cat {
        width: 100%;
        margin: 0;
    }

    /* 6. .cat에 마우스 오버시 */
    .cat:hover .ci {
        margin-top: 0;
    }

    /* 7. 캐릭터 설명 타이틀 */
    .cd h3 {
        font-size: 7vw;
        padding: 4vw 4.7vw 0px;
    }

    /* 8. 캐릭터 설명 문단 */
    .cd p {
        font-size: 4vw;
        line-height: 2;
        padding: 3.5vw;
    }


}

/* 800px이하일때 */