@charset "utf-8";
/* 보그 PJ 공통 기능 디자인 CSS - common.css */

/****************************************** 
    공통기능: 상단영역(로고, 메뉴, GNB)
             하단영역(하단로고, 회사정보)
******************************************/

/*************** 1. 상단영역 ***************/
.top{
    min-height: 206px;
    /* 최소높이값 설정 - 컨텐츠가 많아지면 자동으로 늘어남! */
}
/* 1-1.상단메뉴 */
.tmenu{
    display: flex;
    /* 플렉스박스 */
    max-width: 982px;
    height: 45px;
    margin: 0 auto;
}
/* 직계박스 등분할 설정 */
.tmenu>div{
    flex: 1;
}
/* 1-1-1.sns박스 */
.sns a{
    width: 16px;
    height: 16px;
    /* .fi설정에 inline-block되어 있음(크기적용됨) */
    font-size: 16px;
    text-align: center;
    vertical-align: top;
    line-height: 16px;

    /* 위치조정 */
    margin-top: 14px;
    margin-right: 16px;

    /* 트랜지션: 속시이지*/
    transition: opacity .2s;
}
/* a요소 오버시 */
.sns a:hover{
    opacity: 0.8;
}


/* 트위터 아이콘 조정 */
.sns a.fi-twitter{
    font-size: 13px;
}
/* 유튜브 아이콘 조정 */
.sns a.fi-youtube-play{
    font-size: 11px;
}
/* sns 첫번째 a요소 왼쪽밀기 */
.sns a:first-child{
    margin-left: 0;
}
/* sns 마지막 a요소에 카스 이미지 넣기 */
.sns a:last-child{
    display: inline-block;
    /* 크기디자인 적용위해! */
    background: url(../images/sns_kakao.png) no-repeat center/auto 100%;
}

/* 1-1-2.사이드메뉴 */
.smbx{
    display: flex;
    justify-content: flex-end;
    /* 플렉스 내용박스 오른쪽 끝정렬 */
}
/* 메뉴 사이 구분선 넣기 */
.smbx>li:first-child{
    border-right: 1px solid #e5e5e5;
}
/* 사이드 메뉴 상위a요소 */
.smbx>li>a{
    display: block;
    padding: 0 13px;
    line-height: 44px;

    /* 글자셋팅 */
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #747474;
}
/* 첫번째 사이드 메뉴 마우스 오버시 커서모양 text */
.smbx>li:first-child>a{
    /* 직계a로 잡을 것! 서브a엔 미적용! */
    cursor: text;
    /* 
        참고) css커서모양종류
        https://www.w3schools.com/cssref/tryit.asp?filename=trycss_cursor
    */

}
/* 사이드 메뉴 서브박스 */
.smsub{
    position: absolute;
    border: 1px solid #e5e5e5;
    opacity: 0;
    /* 투명하게-오버시 트랜지션 보이기! */
    height: 0;
    overflow: hidden;
    /* 높이값0에 넘치는요소 숨기기! */
}
/* 상위메뉴 li오버시 하위메뉴 보이기 */
.smbx>li:hover .smsub {
    opacity: 1;
    height: auto;
    /* 원래자신의 높이값으로 돌아감!(트랜지션과 무관) */
    transition: opacity .4s ease-in-out;
}
/* 서브메뉴 a요소 */
.smsub a{
    display: block;
    padding: 7px 10px;

    /* 글자설정 */
    font-family: nbg;
    font-size: 12px;
    color: #747474;

    /* 트랜지션: 속시이지 */
    transition: all .2s ease-in-out;
}
/* 서브메뉴 a에 마우스 오버시 */
.smsub a:hover{
    background-color: #fafafa;
    color: #333;
}

/* 1-2. 로고박스 */
.logo{
    text-align: center;
}

/* 1-3. GNB 박스 */
.gnb{
    /* 글자설정 */
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    line-height: 40px;
    padding: 0 30px;
    margin-top: 11px;
}
.gnb>ul{
    display: flex;
    /* 플렉스박스 */
    justify-content: center;
    /* 컨텐츠 가로중앙 */
    flex-wrap: wrap;
    /* 좁아지면 자동줄바꿈 */
}
/* 리스트 요소 */
.gnb li{
    padding-right: 45px;
}
/* 마지막 리스트 li 돋보기 두꺼운체 */
.gnb li:last-child a{
    font-weight: bold;
}
/* 마지막li는 패딩없앰 */
.gnb li:last-child {
    padding-right: 0;
}
/* GNB 링크 트랜지션 */
.gnb a{
    transition: color .3s;
}
/* 링크 오버시 */
.gnb a:hover {
    color: red;
}






/*************** 2. 하단영역 ***************/
.info{
    height: 286px;
}