@charset "utf-8";

/* 로봇 PJ CSS - robot.css */

/* 웹폰트 */
@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');

/* 
font-family: 'Neonderthaw', cursive;
*/

html{
    scroll-behavior: smooth;
    /* 내부 아이디 위치이동시 스크롤
    애니메이션을 부드럽게 처리함! 
    최상위 요소인 html에 셋팅함! */
}

html,body{
    margin: 0;
    padding: 0;
}
body{
    background: url(../images/bg.jpg) no-repeat fixed top/cover;
    overflow-x: hidden;
    /* x축 스크롤바 없애기 */
}

/* 공사중 아웃라인 */
/* body *{
    outline: 5px dashed lime;
} */

/* 로봇페이지 로고 */
h1#logo{
    position: fixed;
    top: 20px;
    left: 20px;
    /* 보이는 화면기준! */
    width: 200px;
    height: 200px;
    border: 2px solid #ccc;
    border-radius: 50%;/* 원 */
    margin: 0;
    /* h1요소의 기본마진 없앰! */

    /* 글자중앙 */
    text-align: center;
    line-height: 200px;

    color: #fff;
    font-family: "Vladimir Script";
    font-size: 60px;
    text-shadow: 2px 2px 2px #000;
    /* 글자그림자: x y blur 색 */
    box-shadow: 0 0 20px 5px pink,
                inset 0 0 20px 5px #000;
    /* 박스그림자: 내부 x y blur spread 색 */
    /* 박스그림자나 글자그림자는 콤마로 여러개 셋팅가능! */

    /* 배경 */
    background: pink url(../images/robot_03.png) no-repeat;
    background-position: center 10px;
    background-size: 160px;
}

/* 내용보기 링크 타이틀 */
.link{
    position: absolute;
    top: 100px;
    right: 50px;
    /* 부모는? 보이는 화면 */
}
.link a{
    font-family: 'Neonderthaw', cursive;
    font-size: 4vw;
    font-weight: normal;
    color: lawngreen;
    text-decoration: none;
    text-shadow: 2px 2px 2px #000;
}
/* 오버시 */
.link a:hover{
    color: orangered;
    text-decoration: overline;
}

/* 위로이동버튼 */
.btnTop{
    position: fixed;
    bottom: 50px;
    right: 50px;
    /* 보이는화면 기준 */
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    border-radius: 50%;
    color: blue;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    background-color: #ccc;
}
/* 버튼오버시 */
.btnTop:hover{
    background-color: #ff0;
    color: red;
}




/* 로봇머리 */
#head{
    position: relative;
    /* 부모자격 */
    width: 250px;
    height: 250px;
    background: url(../images/metal01.jpg) no-repeat center/cover;
    margin: 0 auto;
    margin-top: 100px;
}
/* 눈1 */
#eye1{
    position: absolute;
    top: 50px;
    left: 50px;
    /* 부모는? #head */

    width: 50px;
    height: 50px;
    background: url(../images/e1.jpg) no-repeat 0/100% 100%;
}
/* 눈2 */
#eye2{
    position: absolute;
    top: 50px;
    right: 50px;
    /* 부모는? #head */
    width: 50px;
    height: 50px;
    background: url(../images/e2.jpg) no-repeat 0/100% 100%;
}
/* 코 */
#nose{
    position: absolute;
    top: 108px;
    left: 100px;
    /* 부모는? #head */
    width: 50px;
    height: 70px;
    background: url(../images/nose.jpg) no-repeat 0/110% 100%;
}
/* 입 */
#mouth{
    position: absolute;
    bottom: 8px;
    left: 65px;
    /* 부모는? #head */
    width: 120px;
    height: 50px;
    background: url(../images/mouth.png) no-repeat 0/100% 100%;
}

/* 귀공통 */
.ear{
    position: absolute;
    top: 72px;
    width: 50px;
    height: 100px;
    background: url(../images/metal02.jpg) no-repeat 0/100% 100%;
}
/* 귀1 */
#ear1{
    left: -50px;
    border-radius: 20px 0 0 20px;
    /* 보더 각 셋팅: 왼쪽위부터 시계방향 */
}
/* 귀2 */
#ear2{
    right: -50px;
    border-radius: 0 20px 20px 0;
}

/* 로봇몸 */
#body{
    position: relative;
    /* 부모자격 */
    width: 250px;
    height: 300px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 300px;
    /* 다리가 내려간 만큼 하단여유공간확보! */
    background: url(../images/metal01.jpg) no-repeat center/cover;
}
/* 목 */
#neck{
    position: absolute;
    top: -50px;
    left: 100px;
    width: 50px;
    height: 50px;
    background: url(../images/metal02.jpg) no-repeat 0/100% 100%;
}

/* 팔,다리공통 */
.part{
    position: absolute;
    width: 50px;
    height: 250px;
    background: url(../images/metal02.jpg) repeat-y 0/100%;
}
/* 왼팔 */
#arm1{
    left: -50px;
}
/* 오른팔 */
#arm2{
    right: -50px;
}
/* 왼다리 */
#leg1{
    top: 100%;
}
/* 오른다리 */
#leg2{
    top: 100%;
    right: 0;
}
/* 어깨공통 */
.sh{
    position: absolute;
    width: 80px;
    height: 80px;
    background: url(../images/metal01.jpg) no-repeat center/cover;
}
/* 왼쪽어깨 */
#sh1{
    top: -20px;
    left: -80px;
    border-radius: 50% 5px 0 50%;
}
/* 오른쪽어깨 */
#sh2{
    top: -20px;
    right: -80px;
    border-radius: 5px 50% 50% 0;
}
/* TV */
#tv{
    position: absolute;
    top: 55px;
    left: 24px;
    /* 부모는? #body */
    width: 200px;
    height: 150px;
    background: url(../images/tv.jpg) no-repeat 0/100% 100%;
}
/* 스크린 */
#screen{
    position: absolute;
    top: 17px;
    left: 13px;
    width: 138px;
    height: 106px;
    background-color: #000;
    border-radius: 16px;
    
    overflow: hidden;
    /* 아이프레임 크기 조정시 넘치는 부분 숨기기 */
}
/* 유튜브 아이프레임 */
#screen iframe{
    position: absolute;
    top: -11px;
    left: -47px;
    /* 부모는? #screen */
    width: 164%;
    height: 125%;
}

/* 로봇설명박스 */
#dcbx{
    width: 800px;
    margin: 0 auto;/* 마영오 */
    margin-bottom: 200px;
    border: 3px solid #fff;
    border-radius: 20px;
    padding: 15px 30px;
    /* 패딩: 위아래 양쪽 */
    background-color: rgba(0, 0, 0, 0.5);
    /* 반투명 검정배경 */

    color: #fff;
    text-shadow: 1px 1px 1px #000;
    /* 글자그림자: x y 블러 색 */
    box-shadow: inset 0 0 60px cyan;
    /* 박스그림자: (내부) x y 블러 (크기) 색 */

}
/* 로봇설명 제목 */
#dcbx h2{
    position: sticky;
    top: 0;
    /* sticky의 top의 의미는 보이는 화면에서
    top위치값보다 커지면 fixed로 고정해줌! */
    font-size: 35px;
    text-align: center;
    color: lime;
    background-color: rgba(255, 255, 255, 0.4);
}
/* 설명출처 */
#dcbx small{
    display: block;
    /* 텍스트 중앙정렬위해 */
    text-align: center;
    color: #ff0;
}
/* 설명문단 */
#dcbx p{
    font-size: 15px;
    /* 기본글자크기 16px */
    line-height: 1.8;
    /* 줄간격: 배수/단위 등 */
    letter-spacing: 1px;
    /* 자간 */
    word-spacing: 2px;
    /* 단어간격 */

    /* 가독성을 위한 다단설정 */
    /* 다단표기(다중열속성) */
    column-count: 3;
    /* 다중열개수 */
    column-rule: 5px dotted lime;
    /* 다중열구분선 
    - 값은 보더와 같다(두께 종류 색상) */
    column-gap: 55px;
    /* 다중열 사이간격 - 구분선 오른쪽 간격조정 */

    text-align: justify;
    /* 양쪽정렬 - 양쪽 끝 라인을 맞춤! */
    word-break: break-all;
    /* 단어깨기! - 단어단위를 한글자씩 깨준다!
    양쪽 정렬시 사용하면 보기 좋아진다! */
    text-indent: 20px;
    /* 첫줄 들여쓰기(마이너스값을 쓰면 내어쓰기임) */

}

/* 가상요소로 첫글자 디자인변경하기 */
#dcbx p::first-letter{
    font-size: 30px;
    font-weight: bold;
    color: lightsalmon;
}