@charset "utf-8";

/* 로봇 PJ CSS - robot.css */

html,body{
    margin: 0;
    padding: 0;
}
body{
    background: url(../images/bg.jpg) no-repeat fixed top/cover;
    overflow-x: hidden;
    /* x축 스크롤바 없애기 */
}

/* 공사중 아웃라인 */
body *{
    outline: 5px dashed lime;
}